# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.metadata/
.classpath
.project
Servers/
*.class
.recommenders
team-blog-common/src/main/java/org/jchy/bean/BaseDTO.java
team-blog-common/src/main/java/org/jchy/bean/QueryCondition.java
